
/*             Responsive           */
@media only screen and (max-width: 1175px) {
  .carousel-caption p{
    font-size: 18px;
  }


  .carousel-caption h5{
    font-size: 60px;
  }
}
@media only screen and (max-width: 1140px) {
  .carousel-caption p{
    font-size: 15px;
  }

  .carousel-caption h5{
    font-size: 60px;
  }
}

@media only screen and (max-width: 960px) {
  .carousel-caption p{
    font-size: 15px;
  }

  .carousel-caption h5{
    font-size: 40px;
  }
}

@media only screen and (max-width: 720px) {
  .carousel-caption p{
    font-size: 10px;
  }

  .carousel-caption h5{
    font-size: 30px;
  }
}

@media only screen and (max-width: 540px) {
  .carousel-caption p{
    font-size: 7px;
  }

  .carousel-caption h5{
    font-size: 25px;
  }
}

@media only screen and (max-width: 375px) {
  .carousel-caption p{
    font-size: 5px;
  }

  .carousel-caption h5{
    font-size: 15px;
  }
  
}
/*             /Responsive           */