
/*             Carousel           */
.carousel-control-prev-icon{
  background-image: url("../image/Left side arrow.png");
  width: 100px;
  height: 100px;
}
.carousel-control-next-icon{
  background-image: url("../image/Rigth side arrow.png");
  width: 100px;
  height: 100px;
}

.carousel-caption h5{
  font-size: 78.74px;
  font-family: Arial; font-weight: regular;
}

.carousel-caption p{
  font-size: 18;
  font-family: 'Raleway semibold', sans-serif;
}
.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
}
.carousel-wrapper{
  margin-top: 70px;
}
/*             /Carousel           */
/*             Header navbar           */
.header-wrapper{
  position:fixed;
  top:0px;
  width: 100%;
  height: 100px;
  z-index: 11;
}
.navbar-nav{
  font-weight: bold;
}
/*            /Header navbar           */
.cover-wrapper{
 background:url("../image/clip.png");
 background-repeat: no-repeat;
 background-size: cover;
 padding-left: 0px;
 padding-right: 0px;
}

.fixsize{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
/*            Video With Image Background           */

.shape-wrapp{
  margin-top: 0px;
  padding-bottom: 30px;
}
.coverthing {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
}

.coverthing h2{
 font-size: 36px;
}

.coverthing h3{
  font-size: 26px;
}

.video-wrapp{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
  border-bottom: 4px solid #4B54FA;
  width: 50%;
  height: 60%;
  border-radius: 8px;
} 
/*            /Video With Image Background           */