
/*             Carousel           */
.carousel-control-prev-icon{
  background-image: url("../image/Left side arrow.png");
  width: 100px;
  height: 100px;
}
.carousel-control-next-icon{
  background-image: url("../image/Rigth side arrow.png");
  width: 100px;
  height: 100px;
}

.carousel-caption h5{
  font-size: 78.74px;
  font-family: Arial; font-weight: regular;
}

.carousel-caption p{
  font-size: 18;
  font-family: 'Raleway semibold', sans-serif;
}
.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
}
.carousel-wrapper{
  margin-top: 70px;
}
/*             /Carousel           */
/*             Header navbar           */
.header-wrapper{
  position:fixed;
  top: 0px;
  width: 100%;
  height: 100px;
  z-index: 11;
}
.navbar-nav{
  font-weight: bold;
}
/*            /Header navbar           */
.cover-wrapper{
 background:url('../image/clip.png');
 background-repeat: no-repeat;
 background-size: cover;
 padding-left: 0px;
 padding-right: 0px;
}

.fixsize{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
/*            Video With Image Background           */

.shape-wrapp{
  margin-top: 0px;
  padding-bottom: 30px;
}
.coverthing {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
}

.coverthing h2{
 font-size: 36px;
}

.coverthing h3{
  font-size: 26px;
}

.text-1{
  position: absolute;
  background-color:#FED701;
  top: 10px;
  left: 10px;
}
.card{
  position: relative;
}

.video-wrapp{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
  border-bottom: 4px solid #4B54FA;
  width: 50%;
  height: 60%;
  border-radius: 8px;
} 

.img1{
  margin-top: 0px;
  padding-bottom: 50px;
  width: 60px;
  margin-left: 180px;
}
.text1{
  margin-bottom: 0;
}

/*            /Video With Image Background           */

.statwrap{
margin-bottom: 0;
}

.footerbg{
  background-image:url("../image/Rectangle 11 copy 3.png") ;
  color: #fff;
}

.footerbg a{
text-decoration: none;
color: #fff;
}

.footerbg a:hover{
  color: antiquewhite ;
}

hr {
  border-top: 1px solid #707070;
}


.modal-newsletter .form-control, .modal-newsletter .btn {
  border-radius: 3px; 
}
.modal-newsletter .form-control {
  box-shadow: none;
  border-color: #dbdbdb;
}
.modal-newsletter .form-control:focus {
  border-color: #18D0C3;
  box-shadow: 0 0 8px rgba(24, 208, 195, 100%)!important;
}
  .modal-newsletter .btn {
      color: #fff;
      border-radius: 4px;
      background: #18D0C3!important;
      text-decoration: none;
      transition: all 0.4s;
      line-height: normal;
      padding: 6px 20px;
      border: none;
  }
.modal-newsletter .btn:hover, .modal-newsletter .btn:focus {
  background: #18D0C3!important;
  outline: none;
}
.modal-newsletter .input-group {
  margin: 30px 0 15px;
}

.input-group {
  width: 30%!important;
  height: 50%;
}

.form-control{
  height: 45%;
}
.btn{
  width: 70%;
  height: 45%;
  background: #18D0C3!important;
}

.input-group-btn{
  width: 20%;
 
}

.pred{
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

